.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*  */
.btn-wrapper button{
  background-color: #8061fbf5;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  box-shadow: #333 0px 1px 5px;
  cursor: pointer;
}
.btn-remove{
  margin-top: 8px;
  cursor: pointer;
}

.img-wrapper img{
  width:90px; 
  margin-top: -8px;
}
.cart-wrapper{
  height: 185px;
  width: 500px;
  border: 1px solid #ccc;
  margin-left: 10px;
}
.item{
  float: left;
  padding: 15px;
  width: 130px;
}

.add-to-cart img{
  width: 175px;
  position: absolute;
  right: 1%;
  top: 1%;
  cursor: pointer;
}
.cart-count{
  position: absolute;
    right: 30px;
    top: 35px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 50px;
    z-index: 1;
    width: 24px;
}


/*  */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
